@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

// My theme colors
$main-color: #512a10;
$black: #222;
$white: #fff;
$light-color: #666;
$light-bg: #eee;
$border: 0.1rem solid $main-color;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

// typography
$body-font: 'Montserrat', sans-serif;
