.home {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  span {
    font-size: 2.5rem;
    color: $white;
  }

  h3 {
    padding: 1rem 0;
    font-size: 6rem;
    color: $white;
  }

  .link-btn {
    color: $white;
    border-color: $white;
  }
}
