.newsletter {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/newsletter-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  h3 {
    font-size: 4rem;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  p {
    padding: 1rem 0;
    font-size: 2rem;
    color: $white;
  }

  form {
    margin: 1rem auto;
    max-width: 60rem;
    background: $white;
    display: flex;
    padding: 1rem;

    .link-btn {
      margin-top: 0;
    }

    .email {
      width: 100%;
      padding: 0 1.4rem;
      font-size: 1.6rem;
    }
  }
}
